.button {
		width: 184px;
		border: none;
		border-radius: 10px;
		background: #9b92e9;
		color: #fff;
		height: 40px;
		cursor: pointer;
    
    &:disabled {
      background: #ccc;
    }

    &__spinner {
      width: 20px;
      height: 20px;
    }
}
