.menu-content {
	padding-top: 20px;

	&__heading {
		margin-top: 40px;
		border-bottom: 1px solid #aaa;
		padding-bottom: 10px;
	}

	&__item {
		font-size: 16px;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 0;
		
		&--active {
			font-size: 17px;
			font-weight: bold;
			color: #9b92e9;
		}
	}
}
