.header {
	background: #fff;

	&__filter-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 10px 15px;
	}

	&__filter-content {
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
		padding: 0 50px 0 10px;

		display: flex;
		flex-direction: column;

		@media screen and (min-width: 640px) {
			flex-direction: row;
			gap: 10px;
			max-width: 610px;
			padding: 0 0 10px 10px !important;
			height: 105px !important;
			transition: height 0.3s;

			&>div {
				flex: 1;
			}
		}
		
		&--visible {
			padding: 0 50px 10px 10px;
			height: 220px;
			transition: height 0.3s;
			
		}
	}

	.filter-section {
		&__filter-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&,
			svg {
				width: 40px;
				height: 40px;
			}
			color: #3199fa;
			&,
			&:active,
			&:hover {
				background: none;
				border: none;
				outline: none;
			}

			@media screen and (min-width: 640px) {
				display: none;
			}

			&--visible {
				color: #79d4f3;
			}
		}
	}
}
