.preference-content {
  display: flex;
  align-items: center;
  justify-content: center;

  &__menu-button {
    width: 30px;
    height: 30px;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    &--disabled {
      pointer-events: none;
    }
  }
}
